*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.main-home{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(#204dff, #0726a5);
}

/*---------------------Header Inicio---------------------*/

.main-header{
    width: 100%;
    height: 121px;
    display: flex;

    background-image: linear-gradient(#204dff, #0726a5);
}

.align-header{
    display: flex;
    margin: auto;
    align-items: center;
}

.align-header img{
    width: 120px;
}

.align-header div{
   margin: 30px;
}

.align-header div a{
    margin: 30px;
}

/*---------------------Header Fim---------------------*/



/*---------------------VIVA Inicio---------------------*/

.main-viva{
    border-top: 18px solid #f29422;
    border-bottom: 18px solid #f29422;

    height: 600px;

    background-image: url(../image/neblina.4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.film-viva{
    height: 600px;
    width: 100%;

    background-color: black;
    opacity: 0.5;

    position: absolute;
    z-index: 1;
}

.align-viva{
    width: 100%;
    display: flex;
}

.left-viva{
    flex: 50%;
    height: 600px;
}

.left-viva div{
    display: flex;
    height: 600px;
}

.left-viva div img{
    margin: auto;
    width: 500px;

    z-index: 2;
}


.right-viva{
    display: flex;
    flex: 50%;
    height: 600px;

    z-index: 2;
}

.right-viva p{
    width: 800px;
    margin: auto;

    align-items: center;
    text-align: justify;
    color: white;
    
}

.wave-viva{
    width: 100%;
}

/*---------------------VIVA Fim---------------------*/


/*---------------------CUIDAR Inicio---------------------*/

.main-cuidar{
    position: absolute;
    width: 100%;
    height: 1000px;

    background-color: rgb(255, 255, 255);
}

.main-cuidar h1{
    margin-top: 20px;

    text-align: center;
    color: #f29422;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    font-style: italic;

    background-color: rgb(255, 255, 255);
}

.containers-cuidar{
    height: 877px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.conteiner{
    width: 400px;
    height: 360px;

    margin: auto;
    padding: 10px;

    border-radius: 50px;
    border: 5px solid #f29422;
}

.conteiner div{
    width: 100%;
    display: flex;
}

.conteiner div img{
    margin: auto;
    width: 170px;
}

.conteiner div .cell{
    margin: auto;
    width: 100px;
}


.conteiner h2{
    margin: 15px;
    text-align: center;
    color: #f29422;
    font-size: 35px ;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}

.conteiner p{
    margin: auto;
    width: 300px;
    text-align: justify;
}

.image-1{
    position: absolute;
    top: 80px;
    right: 50px;
    width: 400px;
}


/*---------------------CUIDAR Fim---------------------*/